body {
	font-family: Arial;
	background-color: lightblue;
	text-align: center;
	zoom: 200%;
}
input {
	border-radius: 5px;
	border: 2px solid gray;
	width: 200px;
	display: inline-block;
}
input:hover {
	background-color: lightgray;
}
button {
	width: 327px;
	background-color: lightgreen;
	border-radius: 5px;
	border: 2px solid gray;
}
button:hover {
	background-color: green;
}
label[for="studentinfo"] {
	width: 115px;
	display: inline-block;
	text-align: right;
}
p {
	text-align: left;
}