body {
	background-color: lightblue;
	text-align: center;
	zoom: 250%;
}
label {
	width: 200px;
	display: inline-block;
}
label[id="lbloutput"] {
	text-align: left;
}
input {
	width: 194px;
	text-align: left;
}
button {
	width: 202px;
}